//SCSS
@import "normalize";
@import "compass";
@import "mixins";
@import "footer";
@import "nav";
@import "susy";

//@import "../../bower_components/susy/sass/susy";
@include border-box-sizing;

$susy: ( columns: 12, global-box-sizing: border-box);

body {
  margin: 0;
  padding: 0;
  font-size:16px;
  font-family:"Century Gothic";
  background: url("../img/fond-01.jpg") no-repeat center fixed;
  background-size: cover;
}

#container-top {
  @include container(64em);
}

header {
  @include container;
  @include clearfix;
  height:198px;
  @include bgb;
  border:2px solid white;
  padding:1em;
  margin-top: 10em;

   h1 {
     //@include span(isolate 6 of 12 at 2.5);
     font-family:'Shadows Into Light Two', cursive;
     color:white;
     font-size:5rem;
     margin:0 auto;
     width:70%;

     span {
       display: inline-block;
       vertical-align: middle;
      }
       img {
         max-width:21.5%;
         height:auto;
         display: inline-block;
         vertical-align: middle;
       }
   }
 }

  #horaires {
    @include container(16em);
    padding:1em 1em 0 1em;
    @include bgb;
    border:2px solid white;
    color:white;

      .horaire-ligne {
        @include container;
        @include clearfix;
        margin-bottom:1em;

      }
    .horaire-jour {
      @include span(2 of 4);
    }
    .horaire-heure {
      @include span(2 of 4 last);
    }
  }
