<footer>
<div id="contenu-footer">
  <span class="span-footer"><i class="fa fa-phone"></i> +32 (0)65 12 13 14</span>
  <span><i class="fa fa-home"></i> 12 rue du coucou qui pue, 7012 Jemappes</span>
</div>
</footer>
