<section id="horaires">
  <table>
     <tr>
         <td>Lundi</td>
         <td>Fermé</td>
    </tr>
     <tr>
         <td>Mardi</td>
         <td>Fermé</td>
    </tr>
    <tr>
        <td>Mercredi</td>
        <td>11h30 à 14h<br />
        18h à 22h</td>
    </tr>
    <tr>
       <td>Jeudi</td>
       <td>11h30 à 14h<br />
       18h à 22h</td>
    </tr>
    <tr>
      <td>Vendredi</td>
      <td>11h30 à 14h<br />
      18h à 23h</td>
    </tr>
    <tr>
      <td>Samedi</td> 
      <td>18h à 23h</td>
    </tr>
    <tr>
      <td>Dimanche</td>
      <td>11h30 à 14h<br />
      18h à 23h</td>
    </tr>

  </table>
</section>
