
<header>
  <h1>PANDA FOOD</h1>
  <section id="logo">
    <img src="../img/logo-blanc-petit.png" alt="Logo de Panda Food"/>
  </section>
</header>

<nav>
  <ul>
    <li class="lien-menu"><a href="#">ACCUEIL</a></li>
    <li class="lien-menu"><a href="#">NOS PLATS</a></li>
    <li class="lien-menu"><a href="#">NOTRE RESTAURANT</a></li>
    <li class="lien-menu"><a href="#">INFOS PRATIQUES</a></li>
    <li class="lien-menu"><a href="#">CONTAK</a></li>
  </ul>
</nav>

{{> horaires}}



<footer>
<div id="contenu-footer">
  <span class="span-footer"><i class="fa fa-phone"></i> +32 (0)65 12 13 14</span>
  <span><i class="fa fa-home"></i> 12 rue du coucou qui pue, 7012 Jemappes</span>
</div>
</footer>
