{{> header_side}}

{{> menu}}

<div id="container">
  <div class="photos-contenu">
    <section class="photos">
      <img src="../img/panda-food-plats.jpg" alt="Soupe de Panda Food"/>
    </section>
    <section class="contenu">
      <p>Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia,
        demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique,
        un vaste océan de langues.</p>
      <p>Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades
        nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases
        prémâchées vous volent litéralement tout cuit dans la bouche.
        Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins
        orthodoxographique.</p>
    </section>
  </div>

  <div class="photos-contenu">
    <section class="contenu">
      <p>Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia,
        demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique,
        un vaste océan de langues.</p>
      <p>Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades
        nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases
        prémâchées vous volent litéralement tout cuit dans la bouche.
        Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins
        orthodoxographique.</p>
    </section>
    <section class="photos">
      <img src="../img/panda-food-plats-02.jpg" alt="Soupe de Panda Food"/>
    </section>
  </div>

  <div class="photos-contenu">
    <section class="photos">
      <img src="../img/panda-food-plats.jpg" alt="Soupe de Panda Food"/>
    </section>
    <section class="contenu">
      <p>Loin, très loin, au delà des monts Mots, à mille lieues des pays Voyellie et Consonnia,
        demeurent les Bolos Bolos. Ils vivent en retrait, à Bourg-en-Lettres, sur les côtes de la Sémantique,
        un vaste océan de langues.</p>
      <p>Un petit ruisseau, du nom de Larousse, coule en leur lieu et les approvisionne en règlalades
        nécessaires en tout genre; un pays paradisiagmatique, dans lequel des pans entiers de phrases
        prémâchées vous volent litéralement tout cuit dans la bouche.
        Pas même la toute puissante Ponctuation ne régit les Bolos Bolos - une vie on ne peut moins
        orthodoxographique.</p>
    </section>
  </div>

</div>

{{> footer}}
