<form class="contakForm" action="index.html" method="post">
  <h1>Prendre contact</h1>
   <p>Vous avez une question, vous pouvez conplèter ce formulaire.</p>
    <label>
        <span>Nom*:</span>
        <input type="text" placeholder="Entrez votre nom" name="name" id="name" required autofocus>
    </label>

    <label>
  		<span>Prénom*:</span>
  		<input type="text" placeholder="Entrez votre prénom" name="firstName" id="firstName" required>
    </label>
    <!--
    <label>
      <span>Telephone:</span>
      <input type="tel" placeholder="Votre numero de telephone" name="phone" id="phone">
    </label> -->

    <label>
      <span>Email*:</span>
      <input type="email" placeholder="Votre-email@gmail.com" name="email" id="email" required>
  	</label>

  <label>
		<span>Message:</span>
		<textarea name="monmessage" id="monmessage" rows="4" cols="50"></textarea>
  </label>

  <input class="sendButton" type="submit" name="Submit" value="Envoyer">
</form>
