<form class="contactForm" action="/formpost" method="post">
  <fieldset>
    <legend>Prendre contact</legend>
    <p>
      <label>
        <span>Nom*:</span>
        <input type="text" placeholder="Entrez votre nom" name="name" id="name" required autofocus>
      </label>
    </p>
    <p>
      <label>
        <span>Prénom*:</span>
        <input type="text" placeholder="Entrez votre prénom" name="firstName" id="firstName" required>
      </label>
    </p>
    <p>
      <label>
        <span>Email*:</span>
        <input type="email" placeholder="Votre-email@gmail.com" name="email" id="email" required>
      </label>
    </p>
    <p>
      <label>
        <span>Message:</span>
        <textarea name="monmessage" id="monmessage" rows="4" cols="50"></textarea>
      </label>
    </p>
    <p>
      <input class="sendButton" type="submit" name="Submit" value="Envoyer">
    </p>

  </fieldset>


</form>
