<header>
  <h1>PANDA FOOD</h1>
  <section id="logo">
    <img src="../img/logo-blanc-petit.png" alt="Logo de Panda Food"/>
  </section>
</header>
<nav>
  <ul>
    <li><a href="#">ACCUEIL</a></li>
    <li><a href="#">NOS PLATS</a></li>
    <li><a href="#">NOTRE RESTAURANT</a></li>
    <li><a href="#">INFOS PRATIQUES</a></li>
    <li><a href="#">CONTAK</a></li>
  </ul>
</nav>

<section id="horaires">
<table>
 <tr>
     <td>Lundi</td>
     <td>Fermé</td>
</tr>
 <tr>
     <td>Mardi</td>
     <td>Fermé</td>
</tr>
<tr>
    <td>Mercredi</td>
    <td>11h30 à 14h<br />
    18h à 22h</td>
</tr>
<tr>
   <td>Jeudi</td>
   <td>11h30 à 14h<br />
   18h à 22h</td>
</tr>
<tr>
  <td>Vendredi</td>
  <td>11h30 à 14h<br />
  18h à 23h</td>
</tr>
<tr>
  <td>Samedi</td>
  <td>18h à 23h</td>
</tr>
<tr>
  <td>Dimanche</td>
  <td>11h30 à 14h<br />
  18h à 23h</td>
</tr>

</table>
</section>

<footer>
<div id="contenu-footer">
  <span class="span-footer"><i class="fa fa-phone"></i> +32 (0)65 12 13 14</span>
  <span><i class="fa fa-home"></i> 12 rue du coucou qui pue, 7012 Jemappes</span>
</div>
</footer>
