<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  {{#each css}}
    <link rel='stylesheet' href={{link}} />
  {{/each}}
  </head>

  <body>
    <div id="wrap"> 
    {{{body}}}
  </div>
  </body>
</html>
