<section id="horaires">
     <div class="horaire-ligne">
         <div class="horaire-jour">Lundi</div>
         <div class="horaire-heure">Fermé</div>
    </div>
     <div class="horaire-ligne">
         <div class="horaire-jour">Mardi</div>
         <div class="horaire-heure">Fermé</div>
    </div>
    <div class="horaire-ligne">
        <div class="horaire-jour">Mercredi</div>
        <div class="horaire-heure">11h30 à 14h<br />
        18h à 22h</div>
    </div>
    <div class="horaire-ligne">
       <div class="horaire-jour">Jeudi</div>
       <div class="horaire-heure">11h30 à 14h<br />
       18h à 22h</div>
    </div>
    <div class="horaire-ligne">
      <div class="horaire-jour">Vendredi</div>
      <div class="horaire-heure">11h30 à 14h<br />
      18h à 23h</div>
    </div>
    <div class="horaire-ligne">
      <div class="horaire-jour">Samedi</div>
      <div class="horaire-heure">18h à 23h</div>
    </div>
    <div class="horaire-ligne">
      <div class="horaire-jour">Dimanche</div>
      <div class="horaire-heure">11h30 à 14h<br />
      18h à 23h</div>
    </div>

</section>
