<nav>
  <ul>
    <li><a href="#">ACCUEIL</a></li>
    <li><a href="#">NOS PLATS</a></li>
    <li><a href="#">NOTRE RESTAURANT</a></li>
    <li><a href="#">INFOS PRATIQUES</a></li>
    <li><a href="#">CONTAK</a></li>
  </ul>
</nav>
