<nav>
  <ul>
    <li><a href="/">ACCUEIL</a></li>
    <li><a href="/nos-plats">NOS PLATS</a></li>
    <li><a href="/notre-restaurant">NOTRE RESTAURANT</a></li>
    <li><a href="/infos-pratiques">INFOS PRATIQUES</a></li>
    <li><a href="/contact">CONTACT</a></li>
  </ul>
</nav>
